.p_cont{
    display: flex;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.p_nav{
    width: 25vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(137, 227, 255);
}

.content-body{
    width: 70vw;
    margin-left: auto;
    margin-right: 25px;
    overflow: hidden;
    margin-top: 33vh;
}


.menu{
    margin-top: 40vh;
    text-align: right;
    list-style: none;
    margin-right: 15px;
    height: fit-content;
}


.menu li{
    margin-top: auto;
    margin-bottom: 20px;
}

.menu li a:hover{
    font-family: 'Roboto-Medium';
}

.active{
    font-family: 'Roboto-Medium';
}

.menu li a{
    font-family: 'Roboto-Regular';
    font-size: 12pt;
    color: rgb(0, 0, 0);
    width: fit-content;
    margin: 8px;
    text-decoration: none;
} 


p{
    text-align: justify;
    font-family: 'Roboto-Light';
    font-size: 10pt;
}

.header{
   display: flex;
   flex-direction: row;
   width: 100vw;
   margin-top: auto;
   margin-bottom: auto;
   margin-right: 0;
   padding-top: 1vh;
   color: rgb(0, 0, 0);
}

@media only screen and (max-width: 1275px) {

}