@font-face {
  font-family: Roboto-Bold;
  src: url(./Assests/Fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(./Assests/Fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(./Assests/Fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(./Assests/Fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Old-english;
  src: url(Assests/Fonts/old-english.ttf);
}

@font-face {
  font-family: Calistoga;
  src: url(./Assests/Fonts/SecularOne-Regular.ttf);
}

@font-face {
  font-family: LuckiestGuy;
  src: url(./Assests/Fonts/LuckiestGuy-Regular.ttf);
}

@font-face {
  font-family: MonteCarlo-Regular;
  src: url(./Assests/Fonts/MonteCarlo-Regular.ttf);
}